* {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 30px;
}

.container_list_product {
    width: 1300px;
    margin: auto;
}

a {
    text-decoration: none;
}

.banner img {
    width: 100%;
}

.mid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 15px;
}

.main_right h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
    display: inline;
}
.main_right #count_products{
    font-size: 22px;
    font-weight: 600;
}
.main_right h2 span {
    font-size: 20px;
    font-weight: normal;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 35px 0px 60px 25px;
}

.product_img img {
    width: 100%;
}

.new_price {
    font-size: 20px;
    color: red;
}

.product_name {
    margin-top: 10px;
}

.product_name p {
    font-size: 17px;
    font-weight: bold;
    color: #555;
}

.text_product {
    margin-top: 10px;
}

.sale {
    display: block;
}

.buy {
    width: 100%;
}

.text_product a {
    border: 1px solid;
    width: 100%;
    display: block;
    text-align: center;
    padding: 7px 0;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
}

.buy button:hover {
    background-color: rgb(238, 77, 45);
    transition: all .2s;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.products_line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

aside {
    background-color: #e4e4e4;
    margin-bottom: 25px;
}

.filter * {
    margin-top: 10px;
    margin-left: 8px;
}

.filter_toggle, .main_right .filter{
    background-color: #e4e4e4;
    color: #333;
    margin: auto;
    padding: 10px 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    display: none;
}

form .filter_by_price {
    margin-left: 0;
}

form .filter_by_price input {
    width: 110px;
    height: 25px;
    text-indent: 10px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: solid 1px #97a3b9;
    background-color: #fff;
    margin-right: 10px;
}

.brand {
    width: 220px;
    border-bottom: solid 1px #c4c4c4;
    margin-left: 0;
    padding-bottom: 15px;
    margin: 20px 0;
}

aside {
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

aside * {
    color: #333;
}

aside h3 {
    display: inline-block;
    margin-left: 30px;
}

.best_viewer {
    padding: unset;
}
.main_right .best_viewer{
    display: none;
}
.left .best_viewer{
    display: block;
}

.best_viewer h3 {
    margin: 25px;
}


.filter button {
    width: 95%;
    padding: 7px 0;
    background-color: rgb(238, 77, 45);
    color: #fff;
    font-weight: bold;
    border: 1px solid;
    border-radius: 4px;
    margin: unset;
    transition: all .2s;
    margin: 20px 0;
}
.gender {
    margin-left: 0;
    margin-bottom: 20px;
}

.gender span {
    margin-right: 25px;
}

.gender input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


.most_viewed_product {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.img_most_viewed_product {
    padding: 10px;
}

.img_most_viewed_product img {
    width: 100%;
}

.price_most_viewed_product {
    margin-top: 10px;
}

.product_name_most_viewed_product {
    padding: 5px 5px 5px 0px;
    font-weight: bold;
    font-size: 17px;
    width: 92%;
}
.price{
    margin-top: 10px;
}
.oldprice{
    font-size: 14px;
    text-decoration: line-through;
    margin: 5px 0;
}
.newprice{
    font-size: 18px;
    color: red;
}
.old_price {
    font-size: 13px;
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 40px;
}

.pagination_product {
    display: flex;
    margin-bottom: 30px;
    justify-content: right;
}

.pagination_product ul {
    display: flex;
}

.pagination_product ul li {
    list-style: none;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0px 4px;
    border-radius: 3px;
}

.pagination_product i {
    opacity: 0.5;
    border: 1px solid;
    padding: 3px 5px;
    margin: 0px 20px;
    cursor: pointer;
}

.pagination_product .goto {
    visibility: hidden;
}

.right h1 {
    margin-top: 0;
    width: 500px;
    font-size: 32px;
}


/* 
responsive */

@media screen and (max-width: 1300px) {
    .container_list_product{
        width: 100%;
        margin: auto;
    }    
    .filter_by_price{
        display: flex;
        justify-content: space-between;
    }
    form .filter_by_price input{
        width: 100%;
    }
    .filter * {
        margin-top: 10px;
        margin-left: 0;
    }
    .filter button{
        width: 100%;
    }

    .filter_by_brand{
        display: flex;
    }
    .brand{
        width: 130px;
    }
    .mid{
        grid-template-columns: 1fr;
    }
    .main_best_viewer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 50px;
        margin-bottom: 15px;
        grid-row-gap: 40px;
    }
    .most_viewed_product{
        grid-template-columns: 1fr;
    }
    .img_most_viewed_product{
        width: 80%;
    }
    .price_most_viewed_product {
        margin-left: 50px;
    }
    .price_most_viewed_product{
        margin-top: 0;
    }
    .product_name_most_viewed_product{
        width: unset;
    }
    .price_most_viewed_product .price{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 1 2;
    }
    .newprice{
        grid-area: 1;
    }
    .img_most_viewed_product{
        padding: 0;
    }
    .right{
        margin: 25px;
    }
    .left .best_viewer{
        display: none;
    }
    .main_right .best_viewer{
        display: block;
    }
    .filter_toggle, .view_toggle{
        display: block;
    }
    .main_right h1{
        display: block;
        margin: 35px;
        text-align: center;
        font-size: 28px;
    }
    .best_viewer h3{
        font-size: 28px;
        text-align: center;
        display: block;
    }
    .best_viewer{
        background-color: #f5f5f5;
    }
}

@media screen and (max-width: 992px) {
    .filter_by_brand{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .new_price{
        font-size: 18px;
    }
    .old_price{
        font-size: 14px;
        margin-left: 20px;
    }
    .main_best_viewer{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .filter_by_brand{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    main{
        padding-top: 20px !important;
    }
    .right{
        grid-template-columns: 1fr 1fr;
    }
    .main_right h1{
        font-size: 24px;
    }
    .newprice{
        width: 100px;
    }
    .main_best_viewer{
        margin-left: 0;
    }
    .oldprice{
        margin-right: 10px;
    }
}
@media screen and (max-width: 576px) {
    .right{
        grid-row-gap: 15px;
        grid-column-gap: 8px;
        margin: 10px;
    }
    .filter_by_brand{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .price_most_viewed_product {
        margin-left: 15px;
    }
    .new_price{
        font-size: 16px;
    }
    .product_name p{
        font-size: 17px;
    }
    .pagination_product{
        margin: 20px 0;
    }
    .main_right h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    .right{
        grid-row-gap: 15px;
        grid-column-gap: 8px;
        margin: 5px;
    }
    .filter_by_brand{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .price_most_viewed_product {
        margin-left: 15px;
    }
    .product_name p{
        font-size: 17px;
        height: 40px;
    }
}
@media screen and (max-width: 400px) {
    .right{
        grid-template-columns: 1fr;
    }
}