@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background-color: #fff;
    color: #333;
}

body a {
    text-decoration: none;
}

/* mobile */

header .nav_mobile {
    display: none;
}

/* ---- */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    transition: all .3s;
    background-color: #f5f5f5;
    z-index: 100;
    padding-top: 40px;
    border-bottom: 1px solid #161a2133;
}

header * {
    color: #333;
}

.main_header {
    width: 1300px;
    margin: auto;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top i {
    font-size: 30px;
    transition: all .4s;
    cursor: pointer;
    background-color: linear-gradient(red, yellow);
}

.header_top .user {
    position: relative;
}

.header_top .bg_user {
    position: absolute;
    top: 30px;
    right: 0;
    transform: translateY(-5%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.header_top .user ul li {
    list-style-type: none;
}

header .user ul li a {
    display: block;
    width: 200px;
    padding: 15px 20px;
}

#hello_user {
    font-weight: bold;
    width: 200px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.bg_user li a:hover {
    color: #000;
}

#check_user:checked~.bg_user {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    top: 45px;
    transition: all .4s;
}

.logo img {
    width: 200px;
    cursor: pointer;
    transition: all .2s;
}

header .search .check_search {
    cursor: pointer;
}

.overlay_search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    transition: all .4s;
    display: none;
}

header .form_search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #161a2133;
    z-index: 100;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    transform: translateY(-100%);
    transition: all .6s;
}

.form_search * {
    margin-top: 10px;
    margin-bottom: 15px;
}

.form_search .search {
    position: relative;
}

.form_search .search i {
    color: #999;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 0;
}

#close_search {
    position: unset;
    cursor: pointer;
    color: #000;
}

#top_search {
    margin-left: 25px;
}

.search .fa-times::before {
    position: fixed;
    right: 50px;
    top: 40px;
    font-size: 24px;
}

.form_search .search input {
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    width: 500px;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    text-indent: 30px;
}

.form_search ul {
    margin-top: 35px;
}

.form_search ul span {
    font-weight: bold;
}

.form_search li {
    position: relative;
    list-style-type: none;
    cursor: pointer;
    margin-left: 25px;
}

.form_search #top_search i {
    color: #777;
    margin-right: 8px;
}

#check_search:checked~.form_search {
    transform: translateY(0%);
    transition: all .6s;
}

#check_search:checked~.overlay_search {
    display: block;
    transition: all .4s;
    z-index: 10;
}

.form_search .list_search {
    height: 400px;
    overflow-y: scroll;
    width: auto;
    display: none;
}

.form_search .list_search .card a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 500px;
    height: 80px;
    margin-top: -5px;
}

.form_search .list_search .card:hover {
    background-color: #dddada;
}

.form_search .list_search .card .img {
    position: relative;
    width: 150px;
    height: 80px;
    overflow: hidden;
}

.form_search .list_search .card img {
    width: 60px;
    height: 70px;
    top: -20%;
    left: 26%;
    position: absolute;

}

.form_search .list_search .card .txt p {
    margin-top: 0px;
    font-size: 18px;
}

.form_search .list_search .card .txt .price #old {
    text-decoration: line-through;
    color: #000000;
    opacity: 0.5;
    font-size: 14px;
    margin-right: 10px;
}

.form_search .list_search .card .txt .price #new {
    font-size: 17px;
    color: #FF0404;
}

header .nav nav ul {
    display: flex;
    justify-content: center;
    transition: 0.3s;
    margin-top: 40px;
}

header .nav nav ul li {
    list-style: none;
    padding: 15px 32px 38px;
    position: relative;
    cursor: pointer;
}

header .nav nav ul li i {
    padding-left: 8px;
    cursor: pointer;
}

header .nav nav ul li a {
    font-weight: 600;
}

header .nav nav ul li:hover .dropdown_father {
    opacity: 1;
    transform: translateY(-10px);
    pointer-events: auto;
}

header .nav nav ul li .dropdown_father {
    position: absolute;
    width: 200px;
    background-color: white;
    margin-top: 35px;
    left: 19%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
}

header .nav nav ul li .dropdown_father .arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    top: -3%;
    left: 12%;
    transform: rotate(45deg);
}

header .nav nav ul li .dropdown_father ul {
    display: block;
    text-align: left;
    margin-top: 0px;
}

header .nav nav ul li .dropdown_father ul li {
    line-height: 55px;
    padding: 0px 15px;
}

header .nav nav ul li .dropdown_father ul li i {
    position: relative;
    right: -25%;
    top: 2%;
}

#sub_dropdown {
    width: 250px;
}

.dropdown_father ul li:hover .dropdown_child {
    opacity: 1;
    transform: translateX(-10px);
    pointer-events: auto;
}

.dropdown_father ul li .dropdown_child {
    position: absolute;
    width: 200px;
    background-color: white;
    margin-top: 17px;
    top: -30%;
    right: -52%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}

.dropdown_father ul li .dropdown_child .arrow_child {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    left: -3%;
    top: 9%;
    transform: rotate(45deg);
}

.sticky {
    width: 100%;
    height: 40px;
    transition: all 0.4s;
    position: fixed;
    box-shadow: 2px 2px 2px #e5e5e5;
}

.sticky nav {
    height: 0;
}

.sticky .logo img {
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.sticky .header_top i {
    transform: translateY(-30px);
    transition: all .4s;
    z-index: 10px;
    cursor: pointer;
}

.sticky .user .bg_user {
    transform: translateY(-38px);
    transition: all .4s;
}

.sticky .nav .main_father {
    position: relative;
    transform: translateY(-75px);
    width: 1000px;
    margin: auto;
}

/* ------------------------------------------------ */

main {
    padding-top: 190px;
}

/* ---------------------------------------------- */

footer {
    width: 100%;
    background-color: #32303b;
    display: inline-block;
    color: #ddd;
}

.footer_content {
    width: 1300px;
    margin: auto;
}

.footer_top * {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.register_email {
    margin: 50px 0;
}

.footer_top input {
    width: 600px;
    height: 33px;
    text-indent: 20px;
    text-align: left;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.footer_top hr {
    width: 50%;
}

.footer_top button {
    width: 603px;
    height: 35px;
    background-color: #000;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #ddd;
}

.footer_top ::placeholder {
    color: #7a7676;
    font-weight: bold;
}

.footer_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 0;
    line-height: 23px;
}

.footer_bottom ul {
    width: 85%;
}

.footer_bottom li {
    margin-top: 25px;
    list-style-type: none;
}

.footer_bottom #icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: red;
    font-size: 25px;
    margin-bottom: 10px;
}

.footer_bottom li a {
    color: #ddd;
    text-decoration: none;
}

#support li {
    list-style-type: decimal;
    margin-left: 15px;
}

.footer_bottom li a:hover {
    color: #fff;
}

.gototop {
    width: 50px;
    position: fixed;
    top: 75%;
    right: 25px;
    cursor: pointer;
    display: none;
}

.btn_gototop {
    display: block;
}

#gototop img:hover {
    transform: rotate(360deg);
    transition: all .6s;
}

/* ------------------- */
.cart {
    position: fixed;
    right: 0;
    top: 60%;
    font-size: 30px;
    background-color: #C4C4C4;
    padding: 10px 18px;
    color: #333;
    border-radius: 4px;
}

.cart i {
    font-size: 40px;
}

.cart a {
    color: #333;
}

.cart span {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: #333;
    padding: 5px 8px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

#showErr {
    color: red;
    margin-left: 15px;
}


/* ------------------------------ */

.menu_tablet {
    transition: all linear 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 450px;
    background-color: #fff;
    z-index: 9999;
    transform: translateX(-100%);
    opacity: 0;
    overflow-y: scroll;
    line-height: 60px;
    display: none;
}

.menu_tablet li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(236, 222, 222);
}

.menu_tablet_title {
    color: #fff !important;
}

.menu_tablet #hello_user {
    text-align: center;
    display: block;
    font-size: 18px;
}

.menu_tablet .menu_tablet_title a#hello_user {
    width: 100%;
    display: block;
}

.menu_tablet li * {
    margin-left: 0px;
}

.menu_tablet li a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
}

.menu_tablet li img {
    margin-left: unset;
    width: 15%;
    margin-right: 15px;
}

.menu_tablet_close {
    position: absolute;
    font-size: 28px;
    top: 0.4rem;
    right: 105%;
    color: #fff;
    cursor: pointer;
}


.menu_tablet #user_action {
    display: none;
}

#sub_menu li a {
    font-weight: 600;
}

#sub_menu li a {
    margin-left: 20px;
}

.menu_tablet_title #user_action {
    background-color: #f4f4f4;
}

.menu_tablet_title #user_action a {
    margin-left: 20px;
}

#sub_watches li a {
    margin-left: 0;
}

#sub_watches, #sub_brand {
    display: none;
}

#sub_watches li {
    margin-left: 40px;
}

#sub_brand li {
    margin-left: 60px;
}

#nav_mobile:checked~.menu_tablet {
    transform: translateX(0%);
    opacity: 1;
}

#sub_menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub_menu i {
    font-size: 16px;
    margin-top: 25px;
    margin-right: 15px;
}

.overlay {
    display: none;
    transition: all .3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

#nav_mobile:checked~.overlay {
    display: block;
    transition: all .3s;
}

/* ---------------------------chat */
.chat {
    position: relative;
}

.icon_chat img {
    position: fixed;
    right: 10px;
    top: 90%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.box_chat {
    background-color: #fff;
    position: fixed;
    right: 5px;
    bottom: 10px;
    box-shadow: 0 0 8px #777;
    top: 100px;
    z-index: 0;
    width: 350px;
    border-radius: 15px;
    opacity: 1;
    visibility: hidden;
    transition: all .2s;
    overflow: hidden;
}

.header_chat {
    background-color: #686DE0;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px;

}

.header_chat i {
    cursor: pointer;
}

.input_chat {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 15px;
    border-top-left-radius: none;
    border-top-right-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.input_chat textarea {
    resize: none;
    width: 300px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-top: 10px;
    border-bottom-left-radius: 15px;
}

.input_chat i {
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

#check_chat:checked~.box_chat {
    opacity: 1;
    visibility: visible;
    transition: all .1s;
}

.not_login_chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.not_login_chat h4 {
    color: #444;

}

.not_login_chat a {
    margin-top: 40px;
    border: 1px solid;
    padding: 10px 80px;
}

.message_content {
    font-size: 16px;
    overflow: hidden scroll;
    height: 500px;
}

.content_chat {
    margin-top: 10px;
    overflow: hidden auto;
}

.check_session_chat {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: hidden;
}

.message_left *, .message_right * {
    max-width: 200px;
    width: fit-content;
    /* display: block; */
    margin: 3px 0;
    padding: 5px 10px;
    border-radius: 7px;
    color: rgb(249, 249, 249);
    margin-left: 10px;
    display: inline-block;
}

.message_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.message_left span {
    background-color: rgb(104, 109, 224);
}

.message_right span {
    background-color: rgb(104, 109, 224);
}

.box_user {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid rgba(128, 126, 126, 0);  */
    transition: 0.4s;
    position: relative;
}
.list_user .box_user .fa-times-circle{
    position: absolute;
    visibility: hidden;
}

.chat_beside .list .box_user .fa-times-circle {
    position: absolute;
    left: -13px;
    top: 12px;
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: none;
    z-index: 10;

    padding: 2px;
}
.chat_beside .list .box_user .fa-times-circle:hover .box_user {
   pointer-events: none;
}
.chat_beside .list .box_user:hover .fa-times-circle {
    display: block; 
}
.box_user:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box_user_right {
    margin-left: 5%;
    margin-top: 10px;
    position: relative;
}

.box_user_right #name {
    font-weight: bold;
    top: -10%;
    position: absolute;
}

.box_user_right #time {
    margin-left: 5px;
}

.avatar_user {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5%;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.avatar_user img {
    width: 100%;
}

.room_chat {
    display: none;
}

.room_detail {
    overflow: hidden scroll;
    height: 500px;
}

.chat_beside {
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    width: 150px;
    background-color: #FFFFFF;
    right: 240px;
    top: 171px;
    height: auto;
    border-radius: 20px;
    transition: 0.3s;
    display: none;
}

.chat_beside .list {
    overflow: hidden scroll;
}

.chat_beside .list i {
    position: absolute;
    left: 70px;
    top: 106px;
    transition: 0.3s;
    font-size: 20px;
}

.chat_beside:hover {
    right: 300px;
}

.chat_beside .box_user {
    box-shadow: none;
    margin-left: 29px;
}

.chat_beside:hover .box_user {
    margin-left: 20px;
}

.chat_beside .back {
    height: 76px;
    cursor: pointer;
}

.chat_beside .back i {
    transition: 0.4s;
    font-size: 32px;
    line-height: 76px;
    margin-left: 10px;
}

.chat_beside .box_user_right {
    display: none;
}

.message_left {
    display: flex;
}

.time_message {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    transition: 0.3s;
    opacity: 0;
}
